{#
    Related image - responsive view
#}

<div class="top-image">
	<picture><!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_06' ).uri, absolute=true ) }}" media="(min-width: 1024px)">
        <source srcset="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_12' ).uri, absolute=true ) }}" media="(min-width: 846px)">
        <source srcset="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_09' ).uri, absolute=true ) }}" media="(min-width: 560px)">
        <source srcset="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_06' ).uri, absolute=true ) }}" media="(min-width: 360px)">
        <source srcset="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_04' ).uri, absolute=true ) }}"><!--[if IE 9]></video><![endif]-->
        <img srcset="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_06' ).uri, absolute=true ) }}" alt="">
        <!--img.top-image__img(src="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_06' ).uri, absolute=true ) }}")-->
    </picture>
    <div class="top-image__text-wrapper">
        <div class="top-image__text">
            {% if image_title %}
            	<div class="top-image__header">
                	{{ image_title }}
                </div>
            {% endif %}
            <div class="top-image__body">
            	{% if image_text %}
                	{{ image_text }}<br />
                {% endif %}
                {% if not ez_is_field_empty( content, 'foto_byline' ) %}
                	<em>Foto: {{ ez_render_field( content, 'foto_byline' ) }}</em>
                {% endif %}
            </div>
            <a href="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'responsive_12' ).uri, absolute=true ) }}" data-title="{{ image_title }}" class="top-image__expand-link js-popup--gallery"><span class="visuallyhidden">Åpne</span></a>
        </div>
    </div>
</div>