{#
    Article - line view
#}

{% set imageId = ez_field_value( content, 'image' ) %}


<div class="item item--vertical grid__item--3-9">
  {% if imageId is defined %}
    <a href={{ path( location ) }} title="Les artikkelen {{ ez_field_value( content, 'title' ) }}" class="item__imglink imglink">    
        {{ render(
                    controller( 
                        "ez_content:viewContent", 
                            {
                                "contentId": imageId.destinationContentId,
                                "viewType": "custom",
                                "params": { "img_render_size": "responsive_04" }
                            }
                    )
                ) }}
    </a>
  {% endif %}

  <div class="item__content">
    <h2 class="item__header">
      <a href={{ path( location ) }} title="Les artikkelen {{ ez_field_value( content, 'title' ) }}">
        {{ ez_render_field( content, 'title' ) }}
      </a>
    </h2>
    
    {% if not ez_is_field_empty( content, 'show_publishdate' ) %}
      <span class="sidenote">Publisert {{ location.contentInfo.publishedDate|localizeddate( 'short', 'short', app.request.locale ) }}</span>
    {% endif %}

    {% if not ez_is_field_empty( content, 'short_intro' ) %}
      <div class="item__intro">{{ ez_render_field( content, 'short_intro' ) }}</div>
    {% else %}
      <div class="item__intro">{{ ez_render_field( content, 'intro' ) }}</div>
    {% endif %}
  </div>
</div>
