{#
    Personprofil - line view
#}

{% if not ez_is_field_empty( content, 'show_compact' ) %}
    <div class="grid__item grid__item--3-6 media item item--horizontal">
{% else %}
    <div class="grid__item grid__item--3-9 media item item--horizontal">
{% endif %}


{% if not ez_is_field_empty( content, 'image' ) %}

    {% set imageId = ez_field_value( content, 'image' ) %}
    
    {% if not ez_is_field_empty( content, 'show_compact' ) %}

         {{ render( controller( "ez_content:viewContent", {'contentId': imageId, 'viewType': 'full', 'noLayout': 1} ) ) }}
        
    {% else %}
        
        {{ render( controller( "ez_content:viewContent", {'contentId': imageId, 'viewType': 'full', 'noLayout': 1} ) ) }}
         
    {% endif %}

{% endif %}
    
    <div class="media__bd">
        <h2 class="item__header">{{ ez_render_field( content, 'firstname' ) }} {{ ez_render_field( content, 'lastname' ) }}</h2>
            <p class="sidenote">
                {% if not ez_is_field_empty( content, 'jobtitle' ) %}
                    <em>{{ ez_render_field( content, 'jobtitle' ) }}</em>
                {% endif %}
                {% if not ez_is_field_empty( content, 'workplace' ) %}
                    <br />{{ ez_render_field( content, 'workplace' ) }}
                {% endif %}
                {% if not ez_is_field_empty( content, 'mail' ) %}
                    <br />{{ ez_render_field( content, 'mail' ) }}
                {% endif %}
                {% if not ez_is_field_empty( content, 'mobile' ) %}
                    <br /><span>{{ ez_render_field( content, 'mobile' ) }}</span>
                {% endif %}
                {% if not ez_is_field_empty( content, 'phone' ) %}
                    <br /><span>{{ ez_render_field( content, 'phone' ) }}</span>
                {% endif %}
                {% if not ez_is_field_empty( content, 'fax' ) %}
                    <br /><span>{{ ez_render_field( content, 'fax' ) }} (F)</span>
                {% endif %}
                {% if not ez_is_field_empty( content, 'url' ) %}
                    <br /><a href="{{ ez_render_field( content, 'url' ) }}">{{ ez_render_field( content, 'url.data_text' ) }}</a>
                {% endif %}
            </p>
            {% if not ez_is_field_empty( content, 'description' ) %}
                <div>
                    {{ ez_render_field( content, 'description' ) }}
                </div>
            {% endif %}
    </div>
</div>








{#


<div class="content-view-line">
    <article class="class-article row">

    {% if not ez_is_field_empty( content, 'image' ) %}
        <div class="span2">
            <div class="attribute-image">
                {{ ez_render_field(
                    content,
                    'image',
                    {
                        'template': 'eZDemoBundle:fields:ezimage_simple.html.twig',
                        'parameters': {'alias': 'articlethumbnail'}
                    }
                ) }}
            </div>
        </div>
        {% set content_size = '6' %}
    {% endif %}

    <div class="span{{ content_size }}">
        <div class="attribute-header">
            <h2>
                <a href={{ path( location ) }} title="{{ ez_field_value( content, 'title' ) }}" class="teaser-link">{{ ez_render_field( content, 'title' ) }}</a>
            </h2>
        </div>

        <div class="attribute-byline with-comments">
            <span class="date">
                {{ location.contentInfo.publishedDate|localizeddate( 'short', 'short', app.request.locale ) }}
            </span>
            {% if not ez_is_field_empty( content, 'intro' ) %}
            <span class="author">
                {{ ez_render_field(
                    content,
                    'author',
                    {
                        'template': 'eZDemoBundle:fields:ezauthor_simple.html.twig'
                    }
                ) }}
            </span>
            {% endif %}
        </div>

        {% if not ez_is_field_empty( content, 'intro' ) %}
        <div class="attribute-short">
            {{ ez_render_field( content, 'intro' ) }}
        </div>
        {% endif %}
    </div>

    </article>
</div>
#}