{% if not ez_is_field_empty( content, 'internal_resource' ) %}
	{% set externalResourceId = ez_field_value( content, 'internal_resource' ) %}
	{% set this_block_url = url( 'ez_urlalias', {'contentId': externalResourceId} ) %}
{% else %}
	{% set this_block_url = ez_field_value( content, 'exit_url' ) %}
{% endif %}

<li id="tabboks-tab-{{ content.contentInfo.id }}" class="tabs__content__item tabs__content__item--active">
	<h1 class="tabs__content__header js-tabs-tab">{{ ez_render_field( content, 'title' ) }}</h1>
  <div class="tabs__content__block">
    <div class="grid grid--6">  
      {{ ez_render_field( content, 'related_objects', { 'template': 'tfktelemarkBundle:fields:tabboks_related_objects.html.twig' } ) }}
    </div>
    {% if this_block_url is defined %}
    	{% if not ez_is_field_empty( content, 'exit_url' ) %}
      	<a href="{{ this_block_url }}" class="see-more">{{ ez_field_value( content, 'exit_url' ) }}</a>
      {% endif %}
    {% endif %}
  </div>
</li>