{% extends "tfktelemarkBundle::pagelayout.html.twig" %}

{% if not ez_is_field_empty( content, 'banner' ) %}
    {% set bannerImageId = ez_field_value( content, 'banner' ) %}
{% endif %}

{% if not ez_is_field_empty( content, 'do_show_image' ) %}
    {% if not ez_is_field_empty( content, 'image' ) %}
        {% set imageId = ez_field_value( content, 'image' ) %}
    {% endif %}
{% endif %}

{% if location is defined and not location.isDraft %}
	{% set currentLocation=location %}
{% endif %}

{% block content %}

	{% if bannerImageId is defined %}
    {{  render(
          controller( 
            "ez_content:viewContent", 
                {
                  "contentId": bannerImageId.destinationContentId,
                  "viewType": "responsive",
                  "params": 
                    { 
                      "image_title": ez_field_value(content, 'banner_title'),
                      "image_text" : ez_field_value(content, 'banner_text'),
                      "image_type" : "banner"
                    }
                }
          )
        ) 
    }}
  {% endif %}
  
  <div class="content">
    <div class="constrained-content">
	    <main id="main" role="main" tabindex="-1" class="main">
        <div class="main__center">

        	{% if not ez_is_field_empty( content, 'show_name' ) %}
        		<h1>{{ ez_render_field(content, 'name') }}</h1>
        	{% endif %}

        	{% if imageId is defined %}
                {{ render(
                    controller( 
                        "ez_content:viewContent", 
                          {
                              "contentId": imageId.destinationContentId,
                              "viewType": "responsive",
                              "params": { 
                                            "image_title": ez_field_value(content, 'image_title'),
                                            "image_text" : ez_field_value(content, 'image_text'),
                                            "image_type" : "ingress"
                                        }
                          }
                    )
                ) }}
            {% endif %}
    
            {% if not ez_is_field_empty( content, 'short_description' ) %}
              <div class="byline">
                {{ ez_render_field(content, 'short_description') }}
              </div>
            {% endif %}

            {% if not ez_is_field_empty( content, 'description' ) %}
              {{ ez_render_field(content, 'description') }}
            {% endif %}

            {% if content.getFieldValue('show_children') %}
              {{ render( controller("tfktelemarkBundle:Item:children", {'locationId': location.id,  'params' : { 'class' : ['linkbox'] , 'viewType': 'line' }} )) }}
              {{ render( controller("tfktelemarkBundle:Item:children", {'locationId': location.id,  'params' : { 'class' : ['tabboks'] , 'viewType': 'line' }} )) }}
			        {{ render( controller("tfktelemarkBundle:Item:children", {'locationId': location.id,  'params' : { 'class' : ['article'] , 'viewType': 'line' }} )) }}
            {% endif %} 

      </div>
	 <aside class="main__right">
  	{{ render( controller("tfktelemarkBundle:Item:children", {'locationId': location.id,  'params' : { 'class' : ['infobox'] , 'viewType': 'line' }} )) }}
	</aside>

	 <nav role="navigation" class="main__left">

        {% if location.path[2] is defined %}

          {% if location.path[2] == 111 %}
            {% set locId = location.path[3] %}
          {% elseif location.path[2] == 566 %}
		   {% set locId = location.path[5] %}
		    {% else %}
            {% set locId = location.path[2] %}
          {% endif %}
        {% else %}
          {% set locId = location.id %}
        {% endif %}
            {{ render(
                controller(
                    "tfktelemarkBundle:Menu:leftMenu",
                    {'locationId': location.id, 'currentLocationId': locId}
                )
            ) }}
              </nav> 
	  </main>
    </div>
  </div> 
{% endblock %}
