{% extends "tfktelemarkBundle::pagelayout.html.twig" %}



    {% if not ez_is_field_empty( content, 'image' ) %}
        {% set imageId = ez_field_value( content, 'image' ) %}
    {% endif %}

{% if location is defined and not location.isDraft %}
  {% set currentLocation=location %}
{% endif %}

{% block content %}

  {% if bannerImageId is defined %}
    {{  render(
          controller( 
            "ez_content:viewContent", 
                {
                  "contentId": bannerImageId.destinationContentId,
                  "viewType": "responsive",
                  "params": 
                    { 
                      "image_title": ez_field_value(content, 'banner_title'),
                      "image_text" : ez_field_value(content, 'banner_text'),
                      "image_type" : "banner"
                    }
                }
          )
        ) 
    }}
  {% endif %}
        <div class="main__center">

            <h1>{{ ez_render_field(content, 'name') }}</h1>
  
            {% if not ez_is_field_empty( content, 'short_description' ) %}
              <div class="byline">
                {{ ez_render_field(content, 'short_description') }}
              </div>
            {% endif %}

            {% if not ez_is_field_empty( content, 'description' ) %}
              {{ ez_render_field(content, 'description') }}
            {% endif %}

            {% if content.getFieldValue('show_children') %}
            <div class="grid grid--12">
              {{ render( controller("tfktelemarkBundle:Item:childrenItems", {'locationId': location.id,  'params' : { 'class' : ['linkbox'] , 'viewType': 'line' }} )) }}
            </div>
              {{ render( controller("tfktelemarkBundle:Item:childrenItems", {'locationId': location.id,  'params' : { 'class' : ['tabboks'] , 'viewType': 'line', 'tabboks_size': 'medium'}} )) }}
            <div class="grid grid--12">
              {{ render( controller("tfktelemarkBundle:Item:childrenItems", {'locationId': location.id,  'params' : { 'class' : ['article'] , 'viewType': 'line' }} )) }}
            </div>
            <div class="grid grid--12">
              {{ render( controller("tfktelemarkBundle:Item:childrenItems", {'locationId': location.id,  'params' : { 'class' : ['personprofil'] , 'viewType': 'line' }} )) }}
            </div>
            {% endif %} 

      </div>
   <aside class="main__right">
    {{ render( controller("tfktelemarkBundle:Item:childrenItems", {'locationId': location.id,  'params' : { 'class' : ['infobox'] , 'viewType': 'line' }} )) }}
  </aside>

   <nav role="navigation" class="main__left">

        {% if location.path[2] is defined %}
          {% if location.path[2] == 111 %}
            {% set locId = location.path[3] %}
              {% if location.path[5] is defined and location.path[5] == 566 %}
                {% set locId = 566 %}
              {% elseif location.path[5] is defined and location.path[5] == 9791 %}
                {% set locId = 9791 %}
              {% endif %}
          {% else %}
            {% set locId = location.path[2] %}
          {% endif %}
        {% else %}
          {% set locId = location.id %}
        {% endif %}
            {{ render(
                controller(
                    "tfktelemarkBundle:Menu:leftMenu",
                    {'locationId': location.id, 'currentLocationId': locId}
                )
            ) }}
              </nav> 
{% endblock %}
