<div class="article">
    <div class="search-result">
        <div class="search-result-header">
           <a href="{{ path( "ez_urlalias", {"locationId": location.id } ) }}"><h2> {{ ez_render_field(content, 'title' ) }}</h2></a>
        </div>
        <div class="search-result-url">
        <a href="{{ path( "ez_urlalias", {"locationId": location.id } ) }}">{{ url( "ez_urlalias", {"locationId": location.id } ) }}</a>
        </div>
        <div class="search-result--text">

        {% if not ez_is_field_empty( content, 'intro') %}
            {% set intro = ez_render_field(content, 'intro')|striptags|replace({'&amp;': '&'}) %}
            <span class="search-result-date">Den {{ content.contentInfo.modificationDate|date("d.m.Y") }} -</span>
            <span classs="sarch-result-content">
            {% if intro[91:] != '' %}
               {{ intro[:90] ~ '...' }}
            {% else %}
                {{intro[:90]}}
            {% endif %}
            </span>
        {% endif %}
        </div>
    </div>
</div>