<div class="article">
    <div class="search-result">
         <div class="search-result-header">
           <a href="{{ path( "ez_urlalias", {"locationId": location.id } ) }}"><h2> {{ ez_render_field(content, 'name' ) }}</h2></a>
        </div>
        <div class="search-result-url">
        <a href="{{ path( "ez_urlalias", {"locationId": location.id } ) }}">{{ url( "ez_urlalias", {"locationId": location.id } ) }}</a>
        </div>
        <div class="search-result--text">
        {% if not ez_is_field_empty( content, 'short_description') %}
            {% set intro = ez_render_field(content, 'short_description')|striptags|replace({'&amp;': '&'}) %}
            <span class="search-result-date">
            {% if location.contentInfo.publishedDate|date("d.m.Y") !=  location.contentInfo.modificationDate|date("d.m.Y") %}
                Oppdatert: {{ location.contentInfo.modificationDate|date("d.m.Y") }} / 
                Publisert: {{ location.contentInfo.publishedDate|date("d.m.Y") }}
            {% else %}
                Publisert: {{ location.contentInfo.publishedDate|date("d.m.Y") }}
            {% endif %}
            -</span>
            <span classs="sarch-result-content">
            {% if intro[131:] != '' %}
               {{ intro[:130] ~ '...' }}
            {% else %}
                {{intro[:130]}}
            {% endif %}
            </span>
        {% endif %}
        </div>
    </div>
</div>