{#
    Personprofil - ezfind_line view
#}

{% set imageId = ez_field_value( content, 'image' ) %}

<div class="article">
    <div class="search-result--col-left">
        {% if not ez_is_field_empty( content, 'image') %}
            {% set imageId = ez_field_value( content, 'image' ) %}
            {{ render(
                controller( 
                    "ez_content:viewContent", 
                    {
                        "contentId": imageId.destinationContentId,
                        "viewType": "relation",
                        "params": { 
                            "image_type": "search_result"
                        }
                    }
                )
            ) }}
        {% else %}
            <figure class="ezimage-field">
                <img src="{{ asset('bundles/tfktelemark/images/bildetmangler.jpg') }}" alt="Bilde ikke tilgjengelig" />
            </figure>
        {% endif %}
    </div>

    <div class="search-result--col-right">
        <div>  
        <h2 class="search-result__item__header">
            {{ ez_render_field( content, 'firstname' ) }} {{ ez_render_field( content, 'lastname' ) }}
        </h2>
    </div>
    <div class="search-result--text">
      <p>
        {% if not ez_is_field_empty( content, 'jobtitle' ) %}
          <em>{{ ez_render_field( content, 'jobtitle' ) }}</em>
        {% endif %}
        {% if not ez_is_field_empty( content, 'workplace' ) %}
          <br />{{ ez_render_field( content, 'workplace' ) }}
        {% endif %}
        {% if not ez_is_field_empty( content, 'mail' ) %}
          <br />{{ ez_render_field( content, 'mail' ) }}
        {% endif %}
        {% if not ez_is_field_empty( content, 'mobile' ) %}
          <br /><span>{{ ez_render_field( content, 'mobile' ) }}</span>
        {% endif %}
        {% if not ez_is_field_empty( content, 'phone' ) %}
          <br /><span>{{ ez_render_field( content, 'phone' ) }}</span>
        {% endif %}
        {% if not ez_is_field_empty( content, 'fax' ) %}
          <br /><span>{{ ez_render_field( content, 'fax' ) }} (F)</span>
        {% endif %}
        {% if not ez_is_field_empty( content, 'url' ) %}
          <br /><a href="{{ ez_render_field( content, 'url' ) }}">{{ ez_render_field( content, 'url.data_text' ) }}</a>
        {% endif %}
      </p>
      {% if not ez_is_field_empty( content, 'description' ) %}
        <div>
          {{ ez_render_field( content, 'description' ) }}
        </div>
      {% endif %}
      <p>Publisert {{ content.contentInfo.publishedDate|date("d.m.Y") }}</p>
        </div>
    </div>
</div>